@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

* {
    font-family: "Varela Round", sans-serif;
}

.paragraph span {
    display: block;
    opacity: 0;
    animation: reveal 0.5s forwards var(--d);
}

@keyframes reveal {
    from {
        transform: opacity 0;
    }

    to {
        opacity: 1;
        transform: none;
    }
}

.main {
    color: white;
    margin: 10%;
    padding: 5%;
    font-style: initial
}

.bmain {
    background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    background-image: url(main.jpg);
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.social a {
    padding: 10px;
    margin-top: 5px;
}

.C-sobre {
    display: flex;
    justify-content: space-around;
    padding: 150px;
    width: 100%;
    flex-wrap: wrap;

}

.foto img {
    width: 400px;
    height: auto;
    box-shadow: 4px 4px 4px;
}

.Sobre-mim h1 {
    text-align: center;
    font-size: 55px;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;

}

.Sobre-mim h4 {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: normal;
    font-weight: bold;
}

.Sobre-mim p {
    margin-top: 25px;
    font-family: "Varela Round", sans-serif;
}

@media screen and (max-width: 414px) {}

.formação {
    background-color: rgba(40, 34, 62, 255);
    display: flex;
    justify-content: space-around;
    padding: 150px;
    width: 100%;
    flex-wrap: wrap;
}

/*background-color: rgba(40,34,62,255)*/

.formtext h1 {
    text-align: center;
    font-size: 55px;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    color: white;
}

.formtext h4 {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
    font-weight: normal;
    font-weight: bold;
    color: white;
}


.formtext p {
    margin-top: 25px;
    font-family: "Varela Round", sans-serif;
    font-weight: bold;
    letter-spacing: 1px;
    color: white;
}

.imgform img {
    width: 400px;
    height: auto;
}

.formtext img {
    width: 30px;
}

.htmlicon {
    color: #32a852;
}